<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CursorBridge</title>
    <link rel="stylesheet" href="../../dist/output.css">
</head>
<body class="bg-white dark:bg-slate-900">
    <div id="Body">
        <div id="Back" class=" w-24 h-12 bg-red-600 rounded-xl m-8"><a href="./DIscoverButton.html"><p class=" text-white text-lg flex justify-center py-2">Back</p></a></div>
    </div>
   
    <div id="Image" class=" flex justify-center md:justify-start mx-14"><img class=" md:translate-y-44" src="./Images/Linuxisbetter.png"></div>
   
    <div id="Buttons">
        <button id="HTML" class=" bg-white">HTML</button>
        <button id="CSS" class=" bg-white">CSS</button>
        <button id="SVG" class=" bg-white">SVG</button>
        <button id="IMG" class=" bg-white">IMG</button>
    </div>
</body>
</html>