<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/output.css"">
    <title>CursorBridge-Discover</title>
</head>
<body class=" dark:bg-slate-900 bg-white">
    <nav class=" md:py-4 md:p-4 flex">
        <div>
            <a href="../Discover.html"><p class=" px-3 py-4 text-black dark:text-white text-lg md:px-8 md:py-0">CursorBridge</p></a>
        </div>
        <div class=" container flex justify-end md:px-10 md:gap-10">
            <a href="../Buttons/DIscoverButton.html"><p class=" text-black dark:text-white hidden md:block md:text-lg">Button</p></a>
            <a href=""><p class=" text-black dark:text-white hidden md:block md:text-lg">Search Bar</p></a>
                <a href="../icons/Discovericons.html"><p class=" text-black dark:text-white hidden md:block md:text-lg">Icons</p> </a>
                <a href=""><p class=" text-black dark:text-white hidden md:block md:text-lg">Docs</p> </a>
                <a href=""> <p class=" text-black dark:text-white hidden md:block md:text-lg">Community</p> </a>
                <a href="https://trello.com/b/tJwOMI84/cursorbridge-plan"> <p class=" text-black dark:text-white hidden md:block md:text-lg">Road Map</p> </a>
        </div>
        <div class=" z-50">
            <div class=" rounded-lg bg-blue-700 w-24 h-9 m-4 md:hidden grid grid-cols-1">
                <a href="../Discover.html"><p class=" py-1 text-white opacity-100 px-4">Discover</p></a>
                <div class=" opacity-0 hover:opacity-100 px-2 py-1 bg-slate-200">
                    <a href="../Buttons/DIscoverButton.html"><div class=" w-20 h-9 hover:bg-slate-400">
                     <p class=" px-2">Buttons</p>
                    </div></a>
                    <a href="../Search_Bar/DiscoverSearchBars.html"><div class=" w-20 h-9 hover:bg-slate-400">
                        <p class=" px-1">Searchbar</p>
                       </div></a>
                       <a href=""><div class=" w-20 h-9 hover:bg-slate-400">
                        <a href="../icons/Discovericons.html"><p class=" px-1">Icons</p></a>
                       </div></a>
                       <a href=""><div class=" w-20 h-9 hover:bg-slate-400">
                        <p class=" px-1">Community</p>
                        </p>
                       </div></a>
                       <a href=""><div class=" w-20 h-9 hover:bg-slate-400">
                        <p class=" px-1">Docs</p>
                       </div></a>
                       <a href="https://trello.com/b/tJwOMI84/cursorbridge-plan"><div class=" w-20 h-9 hover:bg-slate-400">
                        <p class=" px-1">Road Map</p>
                       </div></a>
                </div>
            </div>
            </div>
    </nav>
    
    <div id="Container" class=" flex flex-col md:grid-cols-3 md:grid justify-center">

       <a href="./Plain_Search.html"> <div class=" md:px-32 py-24 flex justify-center">
            <div class=" w-64 h-64 bg-gray-300 rounded-xl">
                <div class=""><img src="./Images/Searchbar.png" class=" py-5 w-auto px-6"></div>
                <div class=""><p class=" text-center text-lg text-gray-700 py-7">Plain White</p></div>
            </div>
        </div></a>
        <a href="./PinkSearch.html"><div class=" md:px-32 py-24 flex justify-center">
            <div class=" w-64 h-64 bg-gray-300 rounded-xl">
                <div class=""><img src="./Images/PlainRed.png" class=" py-5 w-auto px-6"></div>
                <div class=""><p class=" text-center text-lg text-gray-700 py-7">Plain Red</p></div>
            </div>
        </div></a>
        <a href="./BandW.html"><div class=" md:px-32 py-24 flex justify-center">
            <div class=" w-64 h-64 bg-gray-300 rounded-xl">
                <div class=""><img src="./Images/BandW.png" class=" py-5 w-auto px-6"></div>
                <div class=""><p class=" text-center text-lg text-gray-700 py-7">Black And White</p></div>
            </div>
        </div></a>
        <a href="./Sea_Bed.html"><div class=" md:px-32 py-24 flex justify-center">
            <div class=" w-64 h-64 bg-gray-300 rounded-xl">
                <div class=""><img src="./Images/SeaBed.png" class=" py-5 w-auto px-6"></div>
                <div class=""><p class=" text-center text-lg text-gray-700 py-7">Sea Weed</p></div>
            </div>
        </div></a>
        <a href="./Pink_Frenzy.html"><div class=" md:px-32 py-24 flex justify-center">
            <div class=" w-64 h-64 bg-gray-300 rounded-xl">
                <div class=""><img src="./Images/PinkFrenzy.png" class=" py-5 w-auto px-6"></div>
                <div class=""><p class=" text-center text-lg text-gray-700 py-7">Pink Frenzy</p></div>
            </div>
        </div></a>
        <a href="./LavaSearch.html"><div class=" md:px-32 py-24 flex justify-center">
            <div class=" w-64 h-64 bg-gray-300 rounded-xl">
                <div class=""><img src="./Images/Lavaman.png" class=" py-5 w-auto px-6"></div>
                <div class=""><p class=" text-center text-lg text-gray-700 py-7">Lava Search</p></div>
            </div>
        </div></a>
    </div>

</body>
</html>